<div>
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#subjectModal"
  >
    Dodaj przedmiot
  </button>
  <div
    class="modal fade"
    id="subjectModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="subjectModalTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form
          [formGroup]="newSchoolForm"
          (ngSubmit)="onSubmit(newSchoolForm.value)"
          [ngClass]="displayValidation ? 'was-validated' : ''"
        >
          <div class="modal-header">
            <h5 class="modal-title" id="subjectModalTitle">
              Dodaj nowy przedmiot
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <div class="col-md-12 form-group">
                <label for="name">Nazwa</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  formControlName="name"
                  required
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
              #closeButton
            >
              Zamknij
            </button>
            <button type="submit" class="btn btn-primary">
              Dodaj przedmiot
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
