<div class="container-fluid">
  <h1 class="text-center">Wszystkie lekcje</h1>
  <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="search()">
    <label class="sr-only" for="searchBox">Wyszukaj: </label>
    <input
      type="text"
      class="form-control mb-2 w-50"
      id="searchBox"
      formControlName="query"
    />
    <button type="submit" class="btn btn-primary mx-2 mb-2">Wyszukaj</button>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="checkbox"
        id="activeCheckbox"
        formControlName="active"
      />
      <label class="form-check-label" for="activeCheckbox"
        >tylko w tym roku</label
      >
    </div>
  </form>
  <table
    class="table table-bordered table-hover"
    aria-label="Wszyscy uczniowie"
  >
    <thead class="bg-light">
      <tr>
        <th
          *ngFor="let column of sortableHeaders.getColumns()"
          (click)="column.property ? sortChange(column.name) : null"
          scope="col"
          class="w-{{ column.width }}"
        >
          <span class="px-3">{{ column.name }}</span>
          <i
            *ngIf="column.showIcon() && column.property !== null"
            class="bi {{ column.getIconClass() }}"
          ></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lesson of items" (click)="goTo(lesson.id)">
        <td>{{ lesson.subjectName }}</td>
        <td>{{ lesson.topic }}</td>
        <td>{{ lesson.beginningDate | date: "dd/MM/yy H:mm" }}</td>
        <td>{{ getLessonLength(lesson) }}</td>
        <td>{{ lesson.description }}h</td>
        <td>
          <ul>
            <li *ngFor="let name of lesson.studentNames">{{ name }}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="btn btn-primary"
      routerLink="/lesson">
    Dodaj lekcję
  </div>
</div>
