/* You can add global styles to this file, and also import other style files */

.pointer {
  cursor: pointer;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-20 {
  width: 20% !important;
}

.w-40 {
  width: 40% !important;
}
